<div class="edit-profile">
<br>

  <div class="userform">
    <h3 style='color:gray;'>My informations</h3>
    <br>
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, width: '200px' %>
    <% else %>
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1671992140/click%20n%20pole/avatar_p2fgt6.jpg', width:'200px'%>
    <% end %>
    <br><br>
    <%= simple_form_for @user do |f| %>
      <div class="User">
        <%= f.input :photo, as: :file %>
        <%= f.input :nickname %>
        <%= f.input :city %>
        <br>
      </div>
      <div class="submit-link">
        <%= f.button :submit, 'Save profile' %>
      </div>
    <% end %>
  </div>
</div>
