<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1674425111/Arty/A_aakh6q.png", class:'logo' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active">
          <% unless params[:action] == 'dashboard'%>
            <%=  link_to dashboard_path, class: "nav-link" do  %>
              <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345146/click%20n%20pole/home_iyuz6r.svg', width:"30px" %>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "My gallery", arts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Reviews", reviews_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <li class="dropdown-toggle  nav-link " id="hand" data-bs-toggle="dropdown" aria-expanded="false">
              Galleries
            </li>
              <div class="dropdown-menu  dropdown-menu-end gal" aria-labelledby="navbarDropdown ">
                <%= link_to "Painting", paintings_path, class: "nav-link droppy" %>
                <%= link_to "Drawing", drawings_path, class: "nav-link droppy" %>
                <%= link_to "Digital painting", digital_paintings_path, class: "nav-link droppy" %>
                <%= link_to "Photography", photography_path, class: "nav-link droppy" %>
              </div>
        </li>

         <li class="nav-item dropdown">
            <li class="dropdown-toggle  nav-link " id="hand" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </li>
              <div class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdown ">
                <%= link_to "About", "#", class: "nav-link droppy " %>
                <%= link_to "Contact", "#", class: "nav-link droppy " %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link " %>
              </div>
        </li>





      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
