
<div class="padbox">
  <div class="dash-box">

      <div class="left">
        <div class="uptext">
          <h1>Welcome to <span class ="yellow">Arty Space</span></h1>
          <h2>Your digital gallery !</h2>
        </div>
        <div class="sharebox">
          <h3>Post my work</h3>
          <p> Share your art all around the world and increase your visibility !</p>
          <p>Create your own galleries</p>
          <%= link_to "Post", arts_path %>
        </div>

        <div class="viewbox">
          <h2>Galleries</h2>
          <p>Take a look at our artists work. Thousand pieces of art in our galleries!</p>
          <div class="galleries-mini">
            <div class="card">
              <p>Painting</p>
              <%=  link_to paintings_path do %>
                <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674427055/Arty/Sans_titre_-_2023-01-22T233542.827_dxjr6b.png', width:"60px" %>
              <% end %>
            </div>
            <div class="card">
              <p>Drawing</p>
              <%= link_to drawings_path do %>
                <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674427055/Arty/Sans_titre_-_2023-01-22T233511.918_y2gxlb.png', width:"60px" %>
              <% end %>
            </div>
            <div class="card">
              <p>Digital painting</p>
              <%= link_to digital_paintings_path do %>
                <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674427091/Arty/ablet_3_d8m2jm.png', width:"60px" %>
              <% end %>
            </div>
            <div class="card">
              <p>Photography</p>
              <%= link_to photography_path do %>
                <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674427091/Arty/ablet_2_v1h6kf.png', width:"60px" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="profile-box">
          <div class="user-infos">
              <h3 class="user">Welcome <br><%= @user.nickname %> !</h3>
            <br>
            <p><%= current_user.email %></p>
            <p class ="city"><%= @user.city %></p>
          </div>
          <div class="user-photo">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key , width:'100px',class:'av' %>
            <% else %>
              <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1671992140/click%20n%20pole/avatar_p2fgt6.jpg', width:'100px',class:'av' %>
            <% end %>
            <br>
            <%= link_to"Edit", edit_user_path(@user) %>
          </div>
          <hr>
        </div>
        <div class="mess-box">
          <h3>Reviews</h3>
          <br>
          <p>My 3 last reviews:</p>

          <% @reviews.last(3).each do |r| %>
          <p><small> <%=r.content.first(20)   %> </small></p>
          <% end %>
          <%= link_to"Reviews", reviews_path %>
        </div>
        <br>
      </div>

      </div>

    </div>
</div>
