<div class="banner">
  <div class="banner-img">
    <%= image_tag'gallery.png', width:"600px" %>
  </div>
  <div class="banner-txt">
    <h1>Arty space</h1>
    <h2>Welcome to the best digital gallery !</h2>
    <p>A simple way to share your work all around the world, and increase your visibility as an artist.</p>
    <% if current_user %>
      <%= link_to "My space", dashboard_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
</div>

<div class="containerrr">

    <div class="gallerybox">
      <i class="fa-solid fa-cube"></i><h2>Get access to our galleries</h2>

      <div class="images">
        <div class="ldg-img">
          <p>Paintings</p>
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674481369/Arty/lion_koroyj.jpg', width:"180px", height:'180px' %>
        </div>
        <div class="ldg-img">
          <p>Drawings</p>
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674481369/Arty/bird_g7smid.jpg', width:"180px", height:'180px' %>
        </div>
        <div class="ldg-img">
          <p>Digital</p>
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674425113/Arty/digital_pyk6m5.jpg', width:"180px", height:'180px' %>
        </div>
        <div class="ldg-img">
          <p>Photography</p>
          <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674425110/Arty/photo_vacpzw.png', width:"180px", height:'180px' %>
        </div>
      </div>
    </div>

</div>

<div class="share-box">
  <div class="artpost">

    <div class="artext">
      <div class="words">
        <p>Create your gallery and post your art <br>
        Post your work, and get noticed !</p>
        <p>Elaborate projects with other artist</p>
      </div>
      <div class="imgtxt">
        <%= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674493034/Arty/Sans_titre_-_2023-01-23T175648.560_fjahjr.png', width:"200px" %>
      </div>
    </div>
    <div class="t">
      <i class="fa-solid fa-cube"></i><h2>Share your work</h2>
    </div>
  </div>
</div>

<footer>
    <div class="contact-info">
      <p>Contact us !</p>
      <p>
        ARTY SPACE <br>
        <small>45, Street Name <br> 14522 Planet Heaarth</small><br><br>
      </p>

      <small>All rights reserved - Copyright 2023</small>
    </div>

    <div class="social">
      <small> <%= link_to "contact@artyspace.com", "#" %> </small><br><br>
      <ul>
        <li><i class="fa-brands fa-facebook"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
      </ul>
    </div>
  </footer>
