<div class="container">
  <h1 class="mygallery-title">My Gallery</h1>
    <br>
  <div class="creategall">
    <div class="creatext">
      <h2>Fill your galleries</h2>
      <p>Upload your artwork and make it visible in one click !</p>
      <br>
      <%= link_to "New post", new_art_path %>
      <br><br>
    </div>
    <div class="create-img">
      <%= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1674640589/Arty/Upload_your_your_work_1_ql9rc1.png', width:"260px" %>
    </div>

  </div>

   <%# ----------------------------------------------------------------------------------- %>
  <div class="mygallery-box gall">
    <div class="mypaint boxxx">
      <h3>My paintings</h3>
      <div class="myart">

        <% paint = Art.where(category: "painting")%>
        <% paint.each do |art| %>
          <div class="art">
            <% if art.user == current_user %>
              <p><%= art.title %></p>
              <%= link_to art_path(art) do %>
                <%= cl_image_tag art.photo.key, width:'180px', height: '130px' %>
              <% end %>
              <p><%= art.description %></p>
              <p><%= art.created_at %></p>
              <%= link_to "edit", edit_art_path(art) %>
              <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <hr>
    </div>

    <div class="mydraw boxxx">
      <h3>My drawings</h3>
      <div class="myart">
        <% draw = Art.where(category: "drawing")%>
        <% draw.each do |art| %>
          <div class="art">
            <% if art.user == current_user %>
              <p><%= art.title %></p>
              <%= link_to art_path(art) do %>
                <%= cl_image_tag art.photo.key, width:'180px', height: '130px' %>
              <% end %>
              <p><%= art.description %></p>
              <p><%= art.created_at %></p>
              
              <%= link_to "edit", edit_art_path(art) %>
              <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <hr>
    </div>

    <div class="mydigit boxxx">
      <h3>My digital paintings</h3>
      <div class="myart">
        <% digit= Art.where(category: "digital painting") %>
        <% digit.each do |art| %>
          <div class="art">
            <% if art.user == current_user %>
              <p><%= art.title %></p>
              <%= link_to art_path(art) do %>
                <%= cl_image_tag art.photo.key, width:'180px', height: '130px' %>
              <% end %>
              <p><%= art.description %></p>
              <p><%= art.created_at %></p>
              
              <%= link_to "edit", edit_art_path(art) %>
              <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <% end %>
          </div>
        <% end %>
      </div>
      <hr>
    </div>

     <div class="myphoto boxxx">
      <h3>My photographs</h3>
      <div class="myart">
        <% photo = Art.where(category: "photography")%>
        <% photo.each do |art| %>
          <div class="art">
            <% if art.user == current_user %>
              <p><%= art.title %></p>
              <%= link_to art_path(art) do %>
                <%= cl_image_tag art.photo.key, width:'180px', height: '130px' %>
              <% end %>
              <p><%= art.description %></p>
              <p><%= art.created_at %></p>
              
              <%= link_to "edit", edit_art_path(art) %>
              <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <% end %>
          </div>
      <% end %>
      </div>
      <hr>
    </div>


  </div>



</div>
