<div class="container">
  <h1>My Gallery</h1>
  <br>
   <%= link_to "New post", new_art_path %>
   <br><br>
  <div class="mygallery-box gall">

    <div class="mypaint boxxx">
      <h2>Paintings</h2>
      <div class="myart">
        <% paint = Art.where(category: "painting")%>
        <% paint.each do |art| %>
          <div class="art">
            <p><%= art.title %></p>
            <%= cl_image_tag art.photo.key, width:'300px', height: '250px' %>
            <p><%= art.description %></p>
            <p><%= art.created_at %></p>
            <%= link_to "View", art_path(art) %>
            <%= link_to "edit", art_path(art) %>
            <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
          </div>
        <% end %>
      </div>
      <hr>
    </div>

    <div class="mydraw boxxx">
      <h2>Drawings</h2>
      <div class="myart">
        <% draw = Art.where(category: "drawing")%>
        <% draw.each do |art| %>
          <div class="art">
            <p><%= art.title %></p>
            <%= cl_image_tag art.photo.key, width:'300px', height: '250px' %>
            <p><%= art.description %></p>
            <p><%= art.created_at %></p>
            <%= link_to "View", art_path(art) %>
            <%= link_to "edit", art_path(art) %>
            <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
          </div>
        <% end %>
      </div>
      <hr>
    </div>

    <div class="mydigit boxxx">
      <h2>Digital paintings</h2>
      <div class="myart">
        <% digit= Art.where(category: "digital painting") %>
        <% digit.each do |art| %>
          <div class="art">
              <p><%= art.title %></p>
              <%= cl_image_tag art.photo.key, width:'300px', height: '250px' %>
              <p><%= art.description %></p>
              <p><%= art.created_at %></p>
              <%= link_to "View", art_path(art) %>
              <%= link_to "edit", art_path(art) %>
              <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
          </div>
        <% end %>
      </div>
      <hr>
    </div>

     <div class="myphoto boxxx">
      <h2>Photographs</h2>
      <div class="myart">
        <% photo = Art.where(category: "photography")%>
        <% photo.each do |art| %>
          <div class="art">
            <p><%= art.title %></p>
            <%= cl_image_tag art.photo.key, width:'300px', height: '250px' %>
            <p><%= art.description %></p>
            <p><%= art.created_at %></p>
            <%= link_to "View", art_path(art) %>
            <%= link_to "edit", art_path(art) %>
            <%= link_to "delete", art_path(art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
          </div>
      <% end %>
      </div>
      <hr>
    </div>


  </div>



</div>
