<div class="container">
  <br>
  <%= link_to "My galleries", arts_path %>
  <%= link_to "Home", dashboard_path %>
  <div class="fullimg">
    <%= cl_image_tag @art.photo.key, class:"fullsize"%>
  </div>
  <p><%= @art.title %></p>
  <p><%= @art.description %></p>
  <p><%= @art.created_at %></p>
  <%if @user == current_user %>
    <%= link_to "edit", edit_art_path(@art) %>
    <%= link_to "delete", art_path(@art), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
  <% end %>
  <br>
</div>

<%= link_to"Comment", new_art_review_path(@art) %>

<% @art.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.user.email %></p>
  <p><%= review.created_at %></p>
  <% if current_user %>
    <%= link_to "edit", edit_art_review_path(@art) %>
    <%= link_to "delete", art_review_path(@art), method: :delete, dat: {confirm: "Are you sur you want to delete this comment ?"} %>
  <% end %>
<% end %>
