<div class="container">
  <h1>My Gallery</h1>
  <br>
   <%= link_to "New post", new_post_path %>
   <br><br>
  <div class="maygallery-box gall">

    <div class="mypaint">
      <h2>Paintings</h2>
      <% @posts.each do |post| %>
        <div class="post">
          <% if post.category == "painting"%>
            <p><%= post.title %></p>
            <%= cl_image_tag post.photo.key, width:'300px', height: '250px' %>
            <p><%= post.description %></p>
            <p><%= post.created_at %></p>
            <%= link_to "View", post_path(post) %>
            <%= link_to "edit", post_path(post) %>
            <%= link_to "delete", post_path(post), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <hr>
          <%end %>
        </div>
      <% end %>
    </div>

    <div class="mydraw boxxx">
      <h2>Drawings</h2>
      <% @posts.each do |post| %>
        <div class="post">
          <% if post.category == "drawing"%>
            <p><%= post.title %></p>
            <%= cl_image_tag post.photo.key, width:'300px', height: '250px' %>
            <p><%= post.description %></p>
            <p><%= post.created_at %></p>
            <%= link_to "View", post_path(post) %>
            <%= link_to "edit", post_path(post) %>
            <%= link_to "delete", post_path(post), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <hr>
          <%end %>
        </div>
      <% end %>
    </div>

    <div class="mydigit boxxx">
      <h2>Digital paintings</h2>
      <% @posts.each do |post| %>
        <div class="post">
          <% if post.category == "digital painting"%>
            <p><%= post.title %></p>
            <%= cl_image_tag post.photo.key, width:'300px', height: '250px' %>
            <p><%= post.description %></p>
            <p><%= post.created_at %></p>
            <%= link_to "View", post_path(post) %>
            <%= link_to "edit", post_path(post) %>
            <%= link_to "delete", post_path(post), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <hr>
          <%end %>
        </div>
      <% end %>
    </div>

     <div class="myphoto boxxx">
      <h2>Photographs</h2>
      <% @posts.each do |post| %>
        <div class="post">
          <% if post.category == "photography"%>
            <p><%= post.title %></p>
            <%= cl_image_tag post.photo.key, width:'300px', height: '250px' %>
            <p><%= post.description %></p>
            <p><%= post.created_at %></p>
            <%= link_to "View", post_path(post) %>
            <%= link_to "edit", post_path(post) %>
            <%= link_to "delete", post_path(post), method: :delete, data:{confirm: "Are you sur you want to delete this post ?"} %>
            <hr>
          <%end %>
        </div>
      <% end %>
    </div>


  </div>



</div>
