<div class="allreviews">
  <div class="container">
    <div class="reviewz">

    </div>
    <div class="box-reviews">
      <h2>Comments I received</h2>
      <% @reviews.each do |r| %>
        <div class="rev-card">
          <p> <%= r.art.title %> </p>
          <p> <%= r.art.category %> </p>
          <p> <%= r.content %> </p>
          <p> <%= r.user.email %> </p>
          <p> <%= r.created_at.strftime('%d/%m/%Y') %> </p>
          <hr>
        </div>
      <% end %>
      <p> **********************************</p>
    </div>

    <div class="box-myreviews">
      <h2>Comments I posted</h2>
      <% @mines.each do |m| %>
        <div class="rev-card">
          <p> <%= m.art.title %> </p>
          <p> <%= m.art.category %> </p>
          <p> <%= m.content %> </p>
          <p> <%= m.art.user.email %> </p>
          <p> <%= m.created_at.strftime('%d/%m/%Y') %> </p>
          <hr>
        </div>
      <% end %>
    </div>


  </div>




</div>
